.title{
    text-align: center;
}

.input {
    text-align: center;
    padding-top: 50px;
}

    .input input[type="email"],
    .input input[type="password"],
    .input input[type="submit"] {
        min-width: 30%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

        .input input[type="email"]:focus,
        .input input[type="password"]:focus {
            outline: none;
            border-color: #007bff; /* Cor da borda quando focado */
        }

    .input input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

        .input input[type="submit"]:hover {
            background-color: #0056b3;
        }


