@page "/meuperfil"
@using System.Security.Claims

@inject AuthenticationStateProvider AuthStateProvider
@inject HttpClient Http
@inject NavigationManager NavManager

<PageTitle>Meu Perfil</PageTitle>

<h1>Meu Perfil</h1>

@* Em uma aplicação real, não mostrar informações sigilosas *@

<p>Id: @user.Id</p>
<p>Name: @user.Name</p>
<p>Email: @user.Email</p>
<p>Created At: @user.CreatedAt</p>

@code {
	private string IdUser = string.Empty;

	UserModel user = new UserModel();

	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthStateProvider.GetAuthenticationStateAsync();
		IdUser = authState.User.FindFirst(c => c.Type == "Id")?.Value;

		var result = await Http.GetFromJsonAsync<UserModel>($"GetAuthorById?Id={IdUser}");
		if (result != null)
			user = result;
	}
}
